.container {
	max-width: 1000px;
}

.post-header h3 {
	display: inline;
}
.post {
	border-bottom: 1px solid rgba(0,0,0,.3);
	padding-bottom: 10px;
}
.post-header{
	padding: 10px 0
}
.post-footer{
	padding: 0 0 0 10px;
}

body{
	padding-top: 60px;
}
.page-arrow {
	font-size: 150%;
	text-decoration: bold;
	padding: 0 20px;
}

.proj-desc {
	padding: 4px;
	margin-bottom: 20px;
}
.face {
	padding: 20px;
}
.contact-panel i {
	padding: 4px 8px
}
.contact-panel a{
	color: black;
}
.contact-panel a:hover {
	color: tomato;
}

.recent-posts {
	margin-top: 30px;
}
.recent-posts a {
	color: tomato;
	display: block;
	font-size: 2em;
	padding-top: 0;
	margin: 0;
}
.nav-contact-panel{
	margin-top: 10px;
	margin-left: 10px;
}
.nav-contact-panel a{
	color: gray;
	margin-left: 10px;
}
