body{
	padding-top: 60px;
}

.container {
	max-width: 1000px;
}

.post-header h2 {
	margin-bottom: 4px;
}

.post-header h2 a{
	color: tomato;
}

.single-post-header{

}

.post {
	padding-bottom: 10px;
}

.post-header{
	padding: 10px 0
}

.post-info{
	color: rgb(90, 90, 90);
}

.post-footer{
	padding: 0 0 0 10px;
}
.post-footer .options span{
	padding-left: 10px;
}

.pagination {
	display: block;
}
.page-arrow {
	margin: 0 20px;
	padding: 8;
}

.page-status {
	padding: 12px 10px;
	display: inline;
}

.proj-desc {
	padding: 4px;
	margin-bottom: 20px;
}
.face {
	margin: 0 auto;
	max-width: 200px;
	padding: 20px 0 0 0;
}
.face img {
	
}
.contact-panel i {
	padding: 4px 8px
}

.contact-panel a{
	text-decoration: none;
	color: black;
}
.contact-panel a:hover {
	color: tomato;
}

.recent-posts {
	margin-top: 30px;
}
.recent-posts a {
	color: tomato;
	display: block;
	font-size: 2em;
	padding-top: 0;
	margin: 0;
}
.nav-contact-panel{
	margin-top: 10px;
	margin-left: 10px;
}
.nav-contact-panel a{
	text-decoration: none;
	color: gray;
	margin-left: 10px;
}

.categories-spacer {
	height: 40px;
}
.categories {
  font-family: Helvetica;
  font-size: 13px;
  border-radius: 5px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-width: 1px;
  border-color: lightgray;
  border-style: solid;
}

.categories a {
  display: block;
  padding: 9px 10px;
  list-style-type: none;
  border-bottom: 1px solid lightgray;
  color: #4183c4;
  text-decoration: none;
}
.categories a.active {
  font-weight: bold;
  border-left: 4px solid tomato;
  color: black;
}
.categories a.active:hover {
  background-color: white;
}
.categories a:last-of-type {
  border-bottom: none;
}
.categories a:hover {
  background-color: #EEE;
}
.date{
	margin-right: 10px;
}
