{% extends 'base.html' %}

{% block content %}

{% if post %}
<h3>Edit <em>{{ post.title }}</em></h3>
{% else %}
<h3>Add a Blog Post</h3>
{% endif %}

{% if post %}
<form method="POST" action="/blog/post/{{ post.slug }}/edit/">
{% else %}
<form method="POST" action="/blog/post/add/">
{% endif %}
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="form-group col-md-9">
        {{ form.title.label }}:
        {{ form.title(class="form-control") }}
        </div>
        <div class="form-group col-md-3">
        {{ form.category.label }}:
        {{ form.category(class="form-control") }}
        </div>
    </div>
    <div class="form-group">
        <div id="epiceditor">
        {{ form.body_md(id="text-area-editor") }}
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success btn-block"
            value="{% if post %}Save{% else %}Create{% endif %}" />
    </div>
</form>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/epiceditor/0.2.2/js/epiceditor.js"></script>
<script src="{{ url_for('static', filename='js/editor.js')}}"></script>
{% endblock %}
