{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-8">

	{% for post in posts %}
		<div class="post">
			<div class="post-header">
				<h3>{{ post.title }}</h3>
			<span class="date pull-right">
			{{ post.date_created.strftime('%B %d, %Y') }}
			</span>
			</div>
			<div class="post-excerpt">
				{{ post.excerpt|safe }}	
			</div>
			<div class="post-footer">
				<a href="{{ url_for('blog.post', post_id=post.id) }}">Read More</a>
			</div>
		</div>
	{% endfor %}

	</div>
</div>
{% endblock %}


