{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-9 col-xs-12">
	{% if current_user.id == post.author %}
	<div class="row">
	<div class="col-md-12">
		<a href="{{ url_for('blog.editPost', post_slug=post.slug) }}" class="btn btn-default pull-right">Edit Post</a>
	</div>
	</div>
	{% endif %}
		<div class="post">
			<div class="single-post-header">
				<h2>{{ post.title }}</h2>
			<div class="post-info">
				<span class="date">
					<i class="fa fa-calendar"></i>
				{{ post.date_created.strftime('%B %d, %Y') }}
				</span>
				<span class="date">
					<i class="fa fa-folder-open-o"></i>
				{{ post.category.name }}
				</span>
				</div>
			</div>

			<hr>
			<div class="post-excerpt">
				{{ post.body_html|safe }}	
			</div>
		</div>
	</div>
	<div class="pull-right col-md-2 col-xs-12">
		{% include 'blog/categories.html' %}
	</div>
</div>
{% endblock %}


