{% extends 'base.html' %}

{% block content %}
{% if project_id %}
<h2>Edit Portfolio Project</h2>
<form method="POST" action="{{ url_for('portfolio.editProject', project_id=project_id) }}">
{% else %}
<h2>Add a Portfolio Project</h2>
<form method="POST" action="{{ url_for('portfolio.addProject') }}">
{% endif %}
{{ form.hidden_tag() }}
<div class="form-group">
{{ form.title.label }}:
{{ form.title(class="form-control") }}
</div>
<div class="row">
	<div class="form-group col-md-6">
	{{ form.image_url.label }}:
	{{ form.image_url(class="form-control") }}
	</div>
	<div class="form-group col-md-6">
	{{ form.stack.label }}:
	{{ form.stack(class="form-control") }}
	</div>
</div>
<div class="form-group">
{{ form.description.label }}:
{{ form.description(class="form-control") }}
</div>

<div class="row">
	<div class="form-group col-md-8">
	{{ form.github_url.label }}:
	{{ form.github_url(class="form-control") }}
	</div>
	<div class="form-group col-md-4">
	{{ form.blog_slug.label }}:
	{{ form.blog_slug(class="form-control") }}
	</div>
</div>
<div class="form-group">
{% if project_id  %}
	<input type="submit" class="btn btn-success btn-block" value="Save">
{% else %}
	<input type="submit" class="btn btn-success btn-block" value="Create">
{% endif %}
</div>

</form>

{% endblock %}
