{% import 'macros.html' as macros %}
{% extends 'base.html' %}

{% block content %}
{% if project_slug %}
<h2>Edit Portfolio Project</h2>
<form method="POST" action="{{ url_for('portfolio.editProject', project_slug=project_slug) }}">
{% else %}
<h2>Add a Portfolio Project</h2>
<form method="POST" action="{{ url_for('portfolio.addProject') }}">
{% endif %}
{{ form.hidden_tag() }}
<div class="row">
	<div class="form-group col-md-10">
	{{ form.title.label }}:
    {{ macros.render_field_errors(form.title) }}
	{{ form.title(class="form-control") }}
	</div>
	<div class="form-group col-md-2">
	{{ form.order_num.label }}:
    {{ macros.render_field_errors(form.order_num) }}
	{{ form.order_num(class="form-control") }}
	</div>
</div>
<div class="row">
	<div class="form-group col-md-4">
	{{ form.img_url.label }}:
    {{ macros.render_field_errors(form.img_url) }}
	{{ form.img_url(class="form-control") }}
	</div>
	<div class="form-group col-md-4">
	{{ form.live_url.label }}:
    {{ macros.render_field_errors(form.live_url) }}
	{{ form.live_url(class="form-control") }}
	</div>
	<div class="form-group col-md-4">
	{{ form.stack.label }}:
    {{ macros.render_field_errors(form.stack) }}
	{{ form.stack(class="form-control") }}
	</div>
</div>
<div class="form-group">
{{ form.description.label }}:
{{ macros.render_field_errors(form.description) }}
{{ form.description(class="form-control") }}
</div>

<div class="row">
	<div class="form-group col-md-8">
	{{ form.github_url.label }}:
    {{ macros.render_field_errors(form.github_url) }}
	{{ form.github_url(class="form-control") }}
	</div>
	<div class="form-group col-md-4">
	{{ form.blog_post.label }}:
    {{ macros.render_field_errors(form.blog_post) }}
	{{ form.blog_post(class="form-control") }}
	</div>
</div>
<div class="form-group">
{% if project_slug  %}
	<input type="submit" class="btn btn-success btn-block" value="Save">
{% else %}
	<input type="submit" class="btn btn-success btn-block" value="Create">
{% endif %}
</div>

</form>

{% endblock %}
