{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col-md-6">
	<h2>What I've Been Up To</h2>
	</div>
	<div class="col-md-6">
		{% if current_user.is_authenticated() %}
			<a class="btn btn-default pull-right" href="{{ url_for('portfolio.addProject') }}">Add Project</a>
		{% endif %}
	</div>
</div>
<hr>
{% for project in projects %}
<div class="project col-md-6 col-sm-12" data-project-id="{{project.id}}">
    <div class="project-img" style="background-image: url({{ project.img_url }})">
		<a href="{{ project.live_url }}" class="link-overlay"></a>
		<div class="project-overlay">
			<div class="project-desc">
				<h3 class="text-center">
					{% if project.live_url %}
					<a href="{{ project.live_url }}">{{ project.title }}</a>
					{% else %}
					{{ project.title }}
					{% endif %}
				</h3>
				<p class="description">
				{{ project.description }}
				</p>
				<div class="row project-info text-center">
					<div class="col-sm-6">
						<strong>Stack</strong>
						<p>{{ project.stack }}</p>
					</div>
					<div class="col-sm-6">
						<strong>Links</strong>
						<p>
						{% if project.github_url %}
						<a href="{{ project.github_url}}"><i class="fa fa-2x fa-github-square"></i></a>
						{% endif %}
						{% if project.live_url %}
						<a href="{{ project.live_url }}"><i class="fa fa-2x fa-globe"></i></a>
						{% endif %}
						{% if project.blog_post %}
						<a href="{{ url_for('blog.post', post_slug=project.blog_post.slug) }}"><i class="fa fa-2x fa-pencil-square-o"></i></a>
						{% endif %}
						{% if project.owner == current_user %}
						<a href="{{ url_for('portfolio.editProject', project_slug=project.slug) }}"><i class="fa fa-2x fa-pencil"></i></a>
                        <a href="" class="delete-project-btn"><i class=" fa fa-2x fa-trash"></i></a>
						{% endif %}
						</p>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
{% endfor %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
{% endblock %}
{% endblock %}
