{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col-md-6">
	<h2>What have I done?</h2>
	</div>
	<div class="col-md-6">
		{% if current_user.is_authenticated() %}
			<a class="btn btn-default pull-right" href="{{ url_for('portfolio.addProject') }}">Add Project</a>
		{% endif %}
	</div>
</div>
<hr>
{% for project in projects %}
<div class="row project-container">
	<!-- Website screenshot -->
	<div class="col-md-4">
		<img class="img-responsive" src="{{ project.img_url }}">
	</div>

	<!-- Project Description -->
	<div class="col-md-8">
		<h3 class="text-center">{{ project.title }}</h3>
		<strong>Description:</strong>
		<p>{{ project.description }}</p>
		<strong>Stack:</strong> {{ project.stack }}
		<a class="pull-right" href="{{ project.github_url }}">View on GitHub</a>
		{% if current_user.id == project.owner %}
			<a href="{{ url_for('portfolio.editProject', project_id=project.id)}}">Edit</a>
		{% endif %}
	</div>
</div>
{% endfor %}

{% endblock %}
