{% extends 'base.html' %}
{% block content %}
<h2>What have I done?</h2>
<hr>
<div class="row">
{% for project in projects %}
	<div class="row">
		<div class="col-md-4">
			<img class="img-responsive" src="{{ project.img_url }}">
		</div>
		<div class="col-md-8">
		<h3>{{ project.title }}</h3>
		<strong>Description:</strong>
		<p>{{ project.description }}</p>
		<strong>Stack:</strong> {{ project.stack }}
		<a class="pull-right" href="{{ project.github_url }}">View on GitHub</a>
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}
