{% extends 'base.html' %}

{% block content %}
<div class="col-sm-4 col-sm-offset-4">
	<h3>Log in</h3>
	<form method="POST">
		{{ form.hidden_tag() }}
		<div class="form-group">
		{{ form.nickname.label }}:
		{{ form.nickname(class="form-control") }}
		</div>


		<div class="form-group">
		{{ form.password.label }}:
		{{ form.password(class="form-control") }}
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-block btn-success" value="Log In">
		</div>
	</form>
</div>

{% endblock %}
