{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-3 hidden-xs">
		<div class="face text-center">
			<img class="img-responsive img-circle" src="{{ url_for('static', filename='images/my_face.jpg') }}">
		</div>
		<hr>
		<div class="contact-panel text-center">
			<a href="mailto:prallen90@gmail.com">
				<i class="fa fa-paper-plane fa-2x"></i>
			</a>
			<a href="http://github.com/patallen">
				<i class="fa fa-github fa-2x"></i>
			</a>
			<!-- Removing this for the time being
			<a href="http://linkedin.com/in/patallendev">
				<i class="fa fa-linkedin-square fa-2x"></i>
			</a>
			-->
		</div>
	</div>
	<div class="col-md-9 col-xs-12">
		<div class="about">
			<h2 class="text-center">About Me</h2>
			<hr>
			<p>
			I am a young, highly motivated, aspiring fullstack web developer.
			I currently have a strong interest in Python development, as well as Python
			web frameworks such as Flask and Django. You can find some of the stuff I've
			been working on <a href="{{ url_for('portfolio.home') }}">here</a>, or you can check
			out my <a href="http://github.com/patallen">github</a> to see more of my contributions.
			I've been learning a lot lately and I plan to make <a href="{{ url_for('blog.home') }}">record</a> of these learnings as
			often as possible.
			</p>
		</div>
		<div class="recent-posts">
			<h2 class="text-center">Recent Thoughts</h2>
			<hr>
			<div class="row">
				{% for post in recent_posts %}
				<div class="text-center col-lg-6 col-md-12">
					<span class="post-date">{{ post.date_created.strftime('%B %d, %Y') }}</span>
					<a href="{{ url_for('blog.post', post_slug=post.slug) }}">{{ post.title }}</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
